[submodule "SubmoduleRepository"]
	path = SubmoduleRepository
	url = https://github.com/voki-kovalchuk-k/SubmoduleRepository
[submodule "TrainingRepository"]
	path = TrainingRepository
	url = https://github.com/voki-kovalchuk-k/SubmoduleRepository.git
